In [1]:
import pandas as pd
import os

In [2]:
cwd = os.getcwd().replace('\\', '/')
cwd

'C:/Users/jfran/Dropbox/GitHub/Baseball/mlb_salary_comp/scraping/JF/Player Pitching Value'

In [22]:
columns = ['Rk','Name','Age','Tm','IP','G','GS','R','RA9','RA9opp','RA9def','RA9role',PPFp,RA9avg,RAA,WAA,gmLI,WAAadj,WAR,RAR,waaWL%,162WL%,Salary,Acquired]

In [3]:
columns = ['Rk','Name','Age','Tm',"G",'PA','Rbat','Rbaser','Rdp',\
           'Rfield','Rpos','RAA','WAA','Rrep','RAR','WAR','waaWL%',\
           '162WL%','oWAR','dWAR','oRAR','Salary','Acquired','Pos Summary',\
           'League','Year']

df = pd.DataFrame(columns=columns)


for year in range(2000,2020):
        for league in ('AL','NL'):
            df_add = pd.read_csv(cwd + '/' + league + "/" + league + '_' + str(year) + '_value_batting.csv')
            df_add['League'] = league
            df_add['Year'] = year
            df = pd.concat([df, df_add ], axis=0)
            
columns = columns[:4] + ['League', 'Year'] + columns[4:-2]
df = df[columns[1:]]

destination = cwd.replace('Player Pitching Value','')
df.to_csv(destination + 'player_value_pitching.csv', index=False)

FileNotFoundError: [Errno 2] File b'C:/Users/jfran/Dropbox/GitHub/Baseball/mlb_salary_comp/scraping/JF/Player Pitching Value/AL/AL_2000_value_batting.csv' does not exist: b'C:/Users/jfran/Dropbox/GitHub/Baseball/mlb_salary_comp/scraping/JF/Player Pitching Value/AL/AL_2000_value_batting.csv'

In [26]:
df.shape

(26810, 26)

In [27]:
df.head()

,Rk,Name,Age,Tm,League,Year,G,PA,Rbat,Rbaser,...,RAR,WAR,waaWL%,162WL%,oWAR,dWAR,oRAR,Salary,Acquired,Pos Summary
0,1,Jeff Abbott\abbotje01,27,CHW,AL,2000,80,242,-7,1,...,-3,-0.3,0.486,0.493,0.3,-0.6,2,$255000,Amateur Draft,879/D
1,2,Paul Abbott\abbotpa01,32,SEA,AL,2000,2,6,0,0,...,1,0.1,0.554,0.501,0.1,0.0,1,$285000,Free Agency,1
2,3,Israel Alcantara\alcanis01,27,BOS,AL,2000,21,48,2,1,...,3,0.3,0.505,0.501,0.3,-0.2,3,$200000,Free Agency,/D937
3,4,Manny Alexander\alexama02,29,BOS,AL,2000,101,209,-18,1,...,-8,-0.7,0.485,0.491,-0.6,0.1,-6,$612500,Traded,56/4D
4,5,Luis Alicea#\alicelu01,34,TEX,AL,2000,139,619,-4,1,...,11,1.1,0.492,0.493,2.1,-0.6,21,$750000,Free Agency,*4/5D6

In [14]:
df.head()

,Rk,Name,Age,Tm,G,PA,Rbat,Rbaser,Rdp,Rfield,...,RAR,WAR,waaWL%,162WL%,oWAR,dWAR,oRAR,Salary,Acquired,Pos Summary
0,1,Jeff Abbott\abbotje01,27,CHW,80,242,-7,1,1,-6,...,-3,-0.3,0.486,0.493,0.3,-0.6,2,$255000,Amateur Draft,879/D
1,2,Paul Abbott\abbotpa01,32,SEA,2,6,0,0,0,0,...,1,0.1,0.554,0.501,0.1,0.0,1,$285000,Free Agency,1
2,3,Israel Alcantara\alcanis01,27,BOS,21,48,2,1,0,0,...,3,0.3,0.505,0.501,0.3,-0.2,3,$200000,Free Agency,/D937
3,4,Manny Alexander\alexama02,29,BOS,101,209,-18,1,1,-2,...,-8,-0.7,0.485,0.491,-0.6,0.1,-6,$612500,Traded,56/4D
4,5,Luis Alicea#\alicelu01,34,TEX,139,619,-4,1,-1,-11,...,11,1.1,0.492,0.493,2.1,-0.6,21,$750000,Free Agency,*4/5D6