In [1]:
import pandas as pd

In [2]:
pitchers = pd.read_csv('pitchers_bbr_full_TOTs_removed.csv')

In [3]:
pitchers.head(20)

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,...,gmLI,WAAadj,WAR,RAR,waaWL%,162WL%,Salary,key,Tm2,Tm3
0,1997,20.0,LAD,NL,2.0,3.0,0.400,3.830,14.0,5.0,...,0.660,-0.100,0.800,8.000,0.531,0.503,NaN,534,NaN,NaN
1,1998,21.0,LAD,NL,3.0,5.0,0.427,4.496,19.0,10.0,...,0.808,0.000,0.213,2.697,0.493,0.494,NaN,534,CIN,NaN
2,1999,22.0,CIN,NL,2.0,2.0,0.500,3.790,65.0,1.0,...,1.270,-0.100,0.400,6.000,0.500,0.500,"$202,000",534,NaN,NaN
3,2000,23.0,CIN,NL,2.0,1.0,0.667,4.530,62.0,0.0,...,1.200,-0.200,-0.400,-3.000,0.489,0.496,"$200,000",534,NaN,NaN
4,2001,24.0,CIN,NL,2.0,6.0,0.250,4.920,35.0,6.0,...,1.210,-0.100,0.000,1.000,0.490,0.498,"$625,000",534,NaN,NaN
5,2002,25.0,COL,NL,4.0,4.0,0.292,5.336,58.0,5.0,...,0.710,-0.049,0.039,0.878,0.475,0.498,"$900,000",534,TEX,NaN
6,2003,26.0,PIT,NL,0.0,0.0,NaN,10.643,15.0,0.0,...,0.508,0.100,-0.514,-6.139,0.436,0.496,"$600,000",534,ARI,NaN
7,2004,27.0,KCR,AL,4.0,8.0,0.333,4.750,40.0,12.0,...,1.430,-0.200,0.700,10.000,0.493,0.498,"$550,000",534,NaN,NaN
8,2005,28.0,SDP,NL,3.0,2.0,0.600,5.150,36.0,1.0,...,0.660,0.100,-0.500,-6.000,0.473,0.494,"$550,000",534,NaN,NaN
9,2006,29.0,MIN,AL,5.0,0.0,1.000,0.890,66.0,0.0,...,1.040,-0.100,2.200,24.000,0.526,0.511,NaN,534,NaN,NaN
10,2007,30.0,MIN,AL,2.0,1.0,0.667,3.990,50.0,0.0,...,1.060,-0.100,0.300,5.000,0.502,0.501,"$1,000,000",534,NaN,NaN
11,2008,31.0,MIN,AL,3.0,0.0,1.000,2.330,75.0,0.0,...,1.480,0.100,1.800,17.000,0.516,0.507,"$1,000,000",534,NaN,NaN
12,2009,32.0,STL,NL,0.0,2.0,0.000,3.290,75.0,0.0,...,1.110,-0.100,0.500,5.000,0.502,0.501,"$1,000,000",534,NaN,NaN
13,2010,33.0,STL,NL,3.0,1.0,0.750,3.550,59.0,0.0,...,1.000,-0.100,0.400,5.000,0.503,0.501,"$2,000,000",534,NaN,NaN
14,2011,34.0,BOS,AL,0.0,0.0,NaN,16.200,4.0,0.0,...,0.400,0.100,-0.100,-2.000,0.454,0.499,"$900,000",534,NaN,NaN
15,1993,22.0,TEX,AL,0.0,0.0,NaN,2.700,2.0,0.0,...,1.240,0.000,0.100,1.000,0.521,0.500,"$109,000",446,NaN,NaN
16,1994,23.0,TEX,AL,4.0,0.0,1.000,3.420,43.0,0.0,...,1.190,0.000,1.000,12.000,0.512,0.503,"$109,000",446,NaN,NaN
17,1995,24.0,TEX,AL,4.0,2.0,0.667,4.220,17.0,7.0,...,1.540,0.000,0.800,9.000,0.518,0.502,"$165,000",446,NaN,NaN
18,1996,25.0,TEX,AL,14.0,6.0,0.700,4.660,30.0,30.0,...,NaN,-0.100,2.700,36.000,0.536,0.507,"$220,000",446,NaN,NaN
19,1997,26.0,TEX,AL,13.0,12.0,0.520,4.200,32.0,32.0,...,NaN,-0.100,2.900,34.000,0.531,0.506,"$1,075,000",446,NaN,NaN

In [5]:
pitchers.shape

(8140, 53)

In [16]:
count_nan = len(pitchers) - pitchers.count()
print(count_nan)

Year         0
Age          0
Tm           0
Lg           0
W            0
L            0
ERA          6
G            0
GS           0
GF           0
CG           0
SHO          0
SV           0
IP           0
H            0
R            0
ER           0
HR           0
BB           0
IBB          0
SO           0
HBP          0
BK           0
WP           0
BF           0
ERA+       166
FIP         11
WHIP        11
H9          11
HR9         11
BB9         11
SO9         11
SO/W       154
Awards       0
RA9         11
RA9opp      11
RA9def      11
RA9role     11
PPFp         1
RA9avg      11
RAA         11
WAA         11
WAAadj       1
WAR         11
RAR         11
waaWL%      11
162WL%      11
key          0
Tm2          0
Tm3          0
dtype: int64

In [17]:
pitchers.shape

(8140, 50)

In [8]:
pitchers.columns

Index(['Year', 'Age', 'Tm', 'Lg', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'GF',
       'CG', 'SHO', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO', 'HBP',
       'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9',
       'SO/W', 'Awards', 'RA9', 'RA9opp', 'RA9def', 'RA9role', 'PPFp',
       'RA9avg', 'RAA', 'WAA', 'gmLI', 'WAAadj', 'WAR', 'RAR', 'waaWL%',
       '162WL%', 'Salary', 'key', 'Tm2', 'Tm3'],
      dtype='object')

In [15]:
pitchers = pitchers.drop(['Salary', 'W-L%', 'gmLI'], axis=1)

In [11]:
pitchers.Tm2.fillna(pitchers.Tm, inplace=True)
pitchers.Tm3.fillna(pitchers.Tm2, inplace=True)
pitchers.Awards.fillna('no_award', inplace=True)

In [19]:
pitchers.dropna().shape

(7865, 50)

If a this point we just drop all lines with NaN, it seems that we are loosing a lot of players. 

can we fill the NaN of ERA+?